$optionDefaultColours: #ED5565, #FC6E51, #FFCE54, #2ECC71, #5D9CEC, #AC92EC, #967ADC, #DA4453, #F6BB42, #37BC9B, #3BAFDA, #967ADC, #AAB2BD, #E74C3C, #9B59B6;

$darkColor: #232223; // Dark color for icons

.cardContainer-parent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: 3300px; // Adjust as needed
  font-family: 'Roboto', sans-serif;

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; // Adjust max-width as needed

    .option {
      position: relative;
      width: calc(33.33% - 20px); // Adjust for responsive grid
      min-width: 200px;
      height: 200px; // Adjust height as needed
      margin: 10px;
      background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
      background-size: cover;
      background-position: center;
      border-radius: 10%;
      cursor: pointer;
      transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

      @for $i from 1 through length($optionDefaultColours) {
        &:nth-child(#{$i}) {
          --defaultBackground: #{nth($optionDefaultColours, $i)};
        }
      }

      .label {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.7); // Semi-transparent background
        color: white;
        transition: .3s;

        .info {
          text-align: center;

          .main {
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 5px;
            text-transform: uppercase;
          }

          .sub {
            font-size: 0.9rem;
            opacity: 1; // Ensure subtext is always visible
            text-align: left; // Left-align the text in .sub
          }
        }
      }

      &:hover .label {
        background-color: rgba(0, 0, 0, 0.9); // Darken background on hover
      }
    }
  }
}

@media (max-width: 1024px) {
  .cardContainer-parent {
    height: auto; // Adjust height for smaller screens
  }

  .cardContainer {
    flex-direction: column; // Stack cards vertically on smaller screens

    .option {
      width: 100%; // Full width for each card on smaller screens
      margin: 10px 0;

      .label {
        position: relative; // Switch back to relative positioning for labels
        width: 100%;
        bottom: auto; // Reset bottom position for stacking cards
        left: auto; // Reset left position for stacking cards
        padding: 10px; // Adjust padding as needed for smaller screens
      }
    }
  }
}
